.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

mat-card {
  width: 400px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 8px;
  text-align: center;
}

mat-form-field {
  width: 100%;
}

.mat-mdc-text-field-wrapper {
  padding-top: 10px !important;
}

.mat-icon-button {
  color: black !important;
  margin-right: 5px;
}

button {
  width: 100%;
  margin-top: 15px;
  background-color: #007bff !important;
  color: white !important;
}

.mat-mdc-form-field {
  --mdc-outlined-text-field-focus-outline-color: #007bff !important;
  --mdc-outlined-text-field-hover-outline-color: #6c757d !important;
}
